@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@800&display=swap");
@property --turn {
  syntax: "<angle>";
  inherits: false;
  initial-value: 1turn;
}
.gradient {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  --turn: 0turn;
  -webkit-animation: rotate 20s linear infinite;
          animation: rotate 20s linear infinite;
  --color-1: #ffafcc;
  --color-2: #a2d2ff;
  --color-3: #bde0fe;
  --color-4: #cdb4db;
  background: conic-gradient(from var(--turn, 0turn), var(--color-1) 25%, var(--color-2) 25%, var(--color-2) 50%, var(--color-3) 50%, var(--color-3) 75%, var(--color-4) 75%);
  background-position: center center;
  --offset-x: calc(var(--x) * 1px);
  --offset-y: calc(var(--y) * 1px);
  background-position: calc(100% + var(--offset-x, -50%)) calc(100% + var(--offset-y, -50%));
  background-size: 200% 200%;
}
@-webkit-keyframes rotate {
  to {
    --turn: 1turn;
  }
}
@keyframes rotate {
  to {
    --turn: 1turn;
  }
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  cursor: crosshair;
}

h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 25vw;
  mix-blend-mode: overlay;
  margin: -3rem 0 0;
  line-height: 1;
  background: linear-gradient(white 15%, black, black, white 95%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}